body{
  background-image: url('background.jpg')  ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
}
.head1{
  background-color:transparent;
  margin: 0;
  padding-bottom:20px;
  width: 100%;
  left:0;
  top:0;
  align-items: center;
}
.content {
  display: flex;
}
.contnet div {
  -ms-flex: 1;  
  flex: 1;
  
}
.app{
  font-size: 45px;
  color:black;
  margin-left: 40px;
}
.loc1{
  width:25%;
  margin-left: 10%;
}
.loc2{text-align: center;
  padding:1rem ;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  border-radius: 8px;
  border:solid 0px;
}
.get1{
  color:white;
  font-size:18px;
  width:20%;
  margin-left: 5%;
  padding:1rem;
  border:solid 0px;
  background-color: #0893f6;
  border-radius:8px;
  text-align: center;
  text-decoration: none;
}
a:visited{text-decoration: none;}
a{text-decoration: none;}
.get1:hover{
  background-color:#1d9ffc;
}
.get1:visited{text-decoration: none;}

.today1{
  background-color: black;
  width:90%;
  height: 270px;
  border-radius: 10px;
  margin-left:04%; 
  background-color: rgba(0,0,0,0.5);
}

.city1{
  color:white;
  font-size: 27px;
  text-align: center;
  font-weight:550;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(24, 24, 27, 0.6);
}
.temp1{
  padding-top: 4rem;
  padding-left:7rem;
  font-size:4rem;
  color:white;
}
.rep1{
  font-size:2rem;
  padding-left: 7rem;
  font-weight: bold;  color:white;
  margin-top: 0%;
}

.night1{
  font-weight: bold;
  font-size:20px;
  padding-left:7rem;  
  color:white;
}
.humi1{
  font-weight: bold;
  font-size:20px;
  padding-left:7rem;  
  color:white;
}
.wind1{
  font-weight: bold;
  font-size:20px;
  padding-left:7rem;  
  color:white;
}
.cloud{
  margin-left: 70%;
  width:10rem;
  margin-top: -10rem;
}

.one10{display:flex;margin-left: 2%;margin-right: 0%;}

.one{
background:rgba(0,0,0,0.7);
width:30%;
height:500px;
margin-right:3%;
border-radius: 8px;
text-align: left;
}

.two{
background:rgba(0,0,0,0.7);
width:30%;
height:500px;
margin-right:3%;
border-radius: 8px;
}
.two h4{
padding-top: 1px;
}
.three{
background:rgba(0,0,0,0.7);
width:30%;
height:500px;
border-radius: 8px;
} 
.three h4{
padding-top: 1px;
margin-top: 0px;
}
.fore3{
  color:white;
  font-size: 26px;
  margin-left:30px;
  margin-top: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.fore5{
  background-color:rgba(0,0,0,0.5) ;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.one1{display:flex;text-align: left;}

#main {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  display: flex;
  margin-left: 0%;
  background-color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:solid 0px;
  margin-top: -20px;
}

#main div {
  -ms-flex: 1;  
  flex: 1;
}
.flex1{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
}
.flex2,.flex3,.flex4,.flex5{
  
  font-size: 28px;
  font-weight: 500;
  
  
}
#main1 {
  width: 100%;
  height: 120px;
  border: 1px solid black;
  display: flex;
  margin-left: 0%;
  background-color: whitesmoke;
  
  text-align: center;
  border:solid 0px;
  padding-top: 10px;
}

#main1 div {
  -ms-flex: 1;  
  flex: 1;
}

#left1{
  font-size: 25px;
  text-align: left;
margin-left: 10%;
font-weight: 400;
margin-top: 0%;
color:white;
padding-top: 15px;
}
#right1{
  text-align: right;
  margin-right: 10%;
  margin-top: -73px;
  font-weight: 400;
  font-size:20px;
  color:white;
}
#left2{
  font-size: 22px;
  text-align: left;
margin-left: 10%;
font-weight: 400;
margin-top: 0%;
color:white;
}
#right2{
  text-align: right;
  margin-right: 10%;
  margin-top: -52px;
  font-weight: 400;
  font-size:20px;
  color:white;
}
#left3{
  font-size: 25px;
  text-align: left;
margin-left: 10%;
font-weight: 400;
margin-top: 0%;
color:white;
}
#right3{
  text-align: right;
  margin-right: 10%;
  margin-top: -52px;
  font-weight: 400;
  font-size:20px;
  color:white;
}


#main2 {
  width: 100%;
  height: 320px;
  border: 1px solid black;
  display: flex;
  margin-left: 0%;
  text-transform: capitalize;
  text-align: center;
  border:solid 0px;
  padding-top: 10px;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

#main2 div {
  -ms-flex: 1;  
  flex: 1;
}
.fore4{
  color:white;
  font-size: 14px;
  padding-left:30px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(0,0,0,0.7);
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}
#top{
  font-size: 25px;
  font-weight: 500;
  padding-top: 0px;
  color:white;
}
#bottom,#bottom1,#bottom2,#bottom3,#bottom4,#bottom5,#bottom6,#bottom7,#bottom8,#bottom9,#bottom10,#bottom11{
  font-size: 36px;
  padding-top: 15px;
  color: white;
  font-weight: 100;
}
#bot5,#bot6,#bot7,#bot8,#bot9,#bot10,#bot11{
  font-size: 25px;
  padding-top: -10px;
  color: white;
  font-weight: 100;
}
#hourly1{
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 20px;
  width:90%;
  margin-left: 5%;
  border-radius: 10px;
  height:400px;color:white;
}
#weath1{
  background-color: whitesmoke;
  padding-bottom: 20px;
  width:70%;
  margin-left: 15%;
  border-radius: 10px;
}
.clouds1{
  width:70px;
}
.design{
  background: white;
  width:100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.design span{
  font-size: 20px;
}


@media only screen and (max-width: 1400px) {
  body{
    overflow-x:scroll;
  }
}
@media only screen and (max-width:730px) {
  body{
    overflow-x:scroll;
  }
}




